.optionLabelMarker {
  border: 1px solid #008248;
  border-radius: 25%;
  color: transparent;
  width: 22px;
  height: 22px;
}

.filledCheckContainer {
  background-color: #008248;
  // color: #008248;
  // border-radius: 25%;
}

.block {
  display: block!important;
}

.checkboxWrapper {
  position: absolute;
  animation-duration: .3s;
  animation-name: option-label-marker-expansion;
  animation-timing-function: cubic-bezier(.32,2.32,.61,.27);
  animation-direction: forwards;
  fill: white;
}

.labelText {
  padding-top: 2px;
  padding-left: 10px;
  font-size: 14px;
  min-width: 0;
}

.container {
  display: flex;
  justify-content: flex-start;
}

@keyframes option-label-marker-expansion {
  0% {
    transform: scale(0);
  }
  100% {
      transform: scale(1);
  }
}