@import "@coffee-shope/theme/theme.scss";

.Button {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: $colorGreenDarkApron;
  font-weight: bold;
  background: transparent;
  border: none;
  border-style: solid;
  border-width: 1px;
  border-color: $colorGreenDarkApron;
  border-radius: 48px;
  padding: 7px 19px;
  margin-right: 16px;
}

.Button:not(:disabled) {
  cursor: pointer;
}

.Button:hover {
  background-color: rgba( $colorGreenApron, .1 );
  transition: 0.25s;
}

.Button:active {
  transform: scale(0.95);
  transition: 0.25s;
}

.Button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.LargeButton {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  display: block;
  padding: 16px 32px;
  border-radius: 2px;
  background-color: $colorGreenDarkApron;
  border-color: $colorGreenDarkApron;
  color: #fff;
  border-color: rgba(0,168,98,.9);
}

.LargeButton:not(:disabled) {
  cursor: pointer;
}

.LargeButton:hover {
  background-color: rgba(0,168,98,.9);
}

.LargeButton:active {
  transform: scale(.95);
  transition: all .2s ease;
}

.small {

}

.negative {
  border: 1px solid $colorGreenDarkApron;
  color: $colorGreenDarkApron;
  background-color: white;
}

.negative:hover {
  background-color: rgba($colorGreenDarkApron, 0.1);
}

.sml {
  width: 33%;
}

.positive {
  background-color: $colorGreenDarkApron;
  border: none;
  color: $colorTextWhite;
}

.positive:hover {
  background-color: $colorGreenApron;
  border-color: $colorGreenApron;
  transition: 0.25s;
}

.textOnly {
  border-color: transparent;
  background-color: #fff;
}

.textOnly:hover {
  background-color: rgba( $colorGreenApron, .1 );
  transition: 0.25s;
}