@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
$font-stack: 'Montserrat', sans-serif;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  // display: flex;
  // min-height: 100vh;
  // flex-direction: column;
}

main {
  // flex: 1 0 auto;
}

button,
input,
optgroup,
select,
textarea {
  font-family: $font-stack;
}