@import "@coffee-shope/theme/theme.scss";

:local {
  
  input:focus ~ .floatingLabel {
    transform: scale(0.95);
    opacity: 0.0;
  }

  input:focus ~ .floatingLabelFocus {
    opacity: 1;
  }

  .invisible {
    opacity: 0;
  }

  .visible {
    opacity: 1;
  }
  
  .floatingLabel {
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 12px;
    transition: 0.2s ease all;
  }
  
  .floatingLabelFocus {
    position: absolute;
    font-size: 10px;
    left: 5px;
    bottom: 30px;
    opacity: 0;
    transition: 0.2s ease all;
  }

  .errorInputIcon {
    position: absolute;
    top: 8px;
    right: 10px;
    fill: $colorRed;
  }

  .errorCrossIcon {
    padding: 0px;
    margin: 0px;
    height: min-content;
    width: min-content;
    fill: $colorRed;
    margin-bottom: -4px;
    padding-right: 5px;

    animation-name: field-status-icon-fade-in;
    animation-duration: .2s;
    animation-timing-function: ease-out;
  }

  .redInputBorder {
    border: none;
    border-bottom: 1px solid $colorRed;
  }

  .defaultInputBorder:focus {
    border-bottom: 1px solid $colorGreenStarbucks;
    transition: 0.25s;
  }

  .defaultInputBorder {
    border: none;
    border-bottom: 1px solid $colorCeramic;
  }

  .fieldStatusContainer {
    padding-left: 5px;
    display: flex;
    justify-content: inline-flex;
    align-items: center;
    font-size: 14px;
    height: 15px;
    margin-bottom: 5px;
    animation-name: drop-in-status;
    animation-duration: .5s;
    animation-timing-function: ease;  }
  
  @keyframes drop-in-status {
    0% { transform: translateY(-8px); opacity: 0; }
    100% { transform: translateY(0px); opacity: 1; }
  }
  
  @keyframes field-status-icon-fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  // .input:focus ~ .floatingLabelFocus,
  // .input:not(:focus):valid ~ .floatingLabelFocus {
  //   opacity: 1;
  // }
  
  .inputText {
    font-size: 0.8rem;
    line-height: 1rem;
    font-weight: 700;
    padding: 5px 20px 5px 0px;
    width: 100%;
    height: 30px;
    outline: none;
  }
  
  .container {
    position: relative;
    padding: 5px;
  }
}